body {
    font-size: .875rem;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
    -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
    background-color: rgb(235, 235, 235);
    height: 100%;
    /* font-family: Sans-Serif; */
}

.feather {
    width: 16px;
    height: 16px;
}

.navbar {
    background-color: #fff !important;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #09253a !important;
    color: #fff !important;
    z-index: 100; /* Behind the navbar */
    padding: 45px 0 0; /* Height of navbar */
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}



.sidebar .nav-link {
    font-weight: 500;
    color: #fff;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    box-shadow: inset -4px 0 0 0 #4099de ;
    background-color: #ffffff44;
    font-weight: bold;
}

.sidebar .nav-link:hover {
    background-color: #ffffff27;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 48px; /* Space for fixed navbar */
    }
}

/*
 * Navbar
 */

.navbar .nav-link {
    padding: .75rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.4);
} 
.navbar .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1); 
    background-color:#4099de;
    color: #ffffff;
}  
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: #4099de;
    color: #fff !important;
}
.breadcrumb-item + .breadcrumb-item::before{
    color: #6c757d !important;
}
.breadcrumb{
    background-color: transparent !important;
    margin-bottom: 0;
    padding-bottom: 0;
}