<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport">
    <title>Administration</title>
    <script src="/public/js/icon-feather.js"></script>
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/admin.css">
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
        <img class="mr-2" src="/public/img/logo-white.svg" alt="logo" height="24">
        <strong>Administration</strong>
    </a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link font-weight-bold" href="#">
                <span data-feather="log-out"></span>
                Déconnecter
            </a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar pt-5">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i data-feather="home"></i>
                            Accuille
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                            Utilisateur
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="list"></span>
                            Catégorie
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="archive"></span>
                            Archive
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="settings"></span>
                            Paramétre
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
            <div class="mt-2">
                <h2>Bienvenu mr/ms <b>Mohamed</b></h2>
            </div>
        </main>
    </div>
</div>
<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/js/bootstrap.js"></script>
<script>
    feather.replace()
</script>
</body>
</html>