{% extends '/admin/template.view.twig' %}
{% block navigation %}
    {% include '/admin/navigation.view.twig' with {'active' : 4} %}
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-sm-8 my-3">
            <div class="card shadow-sm">
                <div class="card-header">
                    <span class="text-muted font-weight-bold">
                        Information de compt
                    </span>
                </div>
                <div class="card-body p-4">
                    <div class="d-flex mb-4">
                        <img class="img-thumbnail" alt="admin profile image"  hieght="95" src="/public/img/profiles/admin.png">
                        <div class="ml-4 mt-4">
                            <div class="d-flex">
                                <div class="mr-4 text-muted">
                                    <h6 class="font-weight-bold">Email </h6>
                                    <h6 class="font-weight-bold">Identifiant </h6>
                                </div>
                                <div class="text-muted">
                                    <h6> {{ auth.admin.email }} </h6>
                                    <h6> {{ auth.admin.identifiant }} </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title font-weight-bold color-secondary mb-4">
                        <i class="mr-3" data-feather="edit" style="width:24px;height:24px"></i>
                        Changement d'informations
                    </h5>
                    <form action="">
                        <div class="row mt-3">
                            <div class="col-sm-4 color-lead">
                                <span>Identifiant</span>
                            </div>
                            <div class="col-sm-8 mb-3">
                                <input class="form-control" type="text">
                            </div>
                            <div class="col-sm-4 color-lead">
                                <span>Email</span>
                            </div>
                            <div class="col-sm-8 mb-3">
                                <input class="form-control" type="email">
                            </div>
                            <div class="col-sm-4 color-lead">
                                <span>Mot de pass</span>
                            </div>
                            <div class="col-sm-8 mb-3">
                                <input class="form-control" type="password">
                            </div>
                            <div class="col-sm-4 color-lead">
                                <span>Confirmation de mot de pass</span>
                            </div>
                            <div class="col-sm-8 mb-3">
                                <input class="form-control" type="password">
                            </div>
                            <div class="col-sm-8 offset-4">
                                <input type="submit" class="btn btn-primary" value="changer">
                                <input type="reset" class="btn btn-inverted" value="reset">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
