<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <title>Administration</title>
        <script src="/public/js/icon-feather.js"></script>
        <link href="/public/css/bootstrap.css" rel="stylesheet">
        <link href="/public/css/style.css" rel="stylesheet">
        <style>
            span .feather {
                width: 54px;
                height: 54px;
            }
        </style>
    </head>
    <body class="bg-light">
        <div class="mx-auto card shadow-sm  mt-5" style="width:450px; hieght:800px;">
            <div class="card">
                <div class="card-body">
                    {% if flash.getMessage('errors') %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ flash.getMessage('errors') | first }}
                            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    <h4 class="mb-3">Admin Connexion</h4>
                    <form action="{{ path_for('admin-login') }}" method="post">
                        <div class="form-group mb-3">
                            <label for="">Adresse E-mail</label>
                            <input class="form-control" id="emailId" name="i" placeholder="email" type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Mot de passe</label>
                            <input class="form-control" id="passwordId" name="p" placeholder="mot de pass" type="password">
                        </div>
                        <div class="form-group mt-5">
                            <button class="btn btn-primary btn-block py-2" type="submit">
                                <i class="mr-2" data-feather="log-in"></i>
                                Se connecter
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="/public/js/jquery-3.3.1.min.js"></script>
        <script src="/public/js/bootstrap.js"></script>
        <script src="/public/js/main.js"></script>
        <script>
            feather.replace()
        </script>
    </body>
</html>
