{% extends "layout.html.twig" %}
{% block titre %} Réinitialisation de mote de pass - UTMB {% endblock %}

{% block contenu %}
<section class="bg-light pb-5">
    <div class="container px-5 pt-5">
        <div class="px-md-5 py-5">
            <div class="card shadow-sm w-75 mx-auto">
                <div class="card-img bg-img img-singin h-25 text-center py-5">
                    <h1 class="text-white">Mot de passe oublié ?</h1>
                    <p class="lead text-white-50 font-weight-bold">
                        vous pouver réinitialiser votre mot de pass ici (par email)
                    </p>
                </div>
                <div class="card-body p-5">
                    {% if flash.getMessage('global') %}
                        <div class="alert alert-danger alert-dismissible fade show"
                             role="alert">
                            {{ flash.getMessage('global') | first }}
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    {% if flash.getMessage('Succes') %}
                        <div class="alert alert-success alert-dismissible fade show"
                             role="alert">
                            {{ flash.getMessage('Succes') | first }}
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    <form action="{{ path_for('reinitialiser') }}" method="POST">
                        <div class="form-group my-4">
                            <lable>Votre Email</lable>
                            <input type="email" name="email" id="emailId"
                                   class="form-control" placeholder="exemple@exemple.com" required>
                            <small id="err-email"></small>
                        </div>
                        <div class="from-group my-4">
                            <div class="d-flex flex-column flex-md-row
                            justify-content-between">
                                <input type="submit" value="Réinitialiser"
                                       class="btn btn-primary btn-block rounded-pill">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}