{% extends 'layout.html.twig' %}
{% block titre %}
    Recherche
{% endblock %}
{% block contenu %}
    <header>
        <div class="jumbotron jumbotron-fluid bg-grd mb-0">
            <div class="container text-center">
                <h1 class="text-white mb-0">
                    <i class="fas fa-search"></i>
                </h1>
                <h1 class="display-3 text-white font-weight-bold pt-4">Page de Recherche</h1>
                <p class="lead text-white">Vous pouvez rechercher des pfe's ici</p>
            </div>
        </div>
    </header>
    <main class="bg-light">
        <div class="container">
            <div class="py-5 row no-gutters">
                <div class="col-sm-12">
                    <div class="mx-4">
                        <div class="p-3  card card-body rounded-0 shadow-sm ">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Recherche simple
                                    </span>
                                </div>
                                <input autocomplete="off" class="form-control" id="input_search" placeholder="Titre , mot clé , etc" type="text">
                            </div>
                            <div class="mt-2 clear-fix">
                                <span class="text-danger float-left" id="search_er"></span>
                                <a aria-expanded="false" class="float-right" data-toggle="collapse" href="#search_avanc" role="button">
                                    Recherche avancée
                                </a>
                            </div>
                            <div class="mt-2 p-3 bg-light rounded-lg collapse" id="search_avanc">
                                <h2 class="color-pr">Recherche Avancée</h2>
                                <form id="search_av">
                                    <div class="input-group w-75">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                Le titre
                                            </span>
                                        </div>
                                        <input class="form-control" id="input_search_av_titre" type="text">
                                    </div>
                                    <div class="input-group w-75 mt-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                Type de document
                                            </span>
                                        </div>
                                        <select class="custom-select" id="input_search_av_type">
                                            <option value=""></option>
                                            <option value="l">Mémoir de licence</option>
                                            <option value="m">Mémoir de master</option>
                                            <option value="d">Thése de doctorat</option>
                                            <option value="autre">Autre</option>
                                        </select>
                                    </div>
                                    <div class="input-group w-75 mt-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                La langue
                                            </span>
                                        </div>
                                        <select class="custom-select" id="input_search_av_lang">
                                            <option value=""></option>
                                            <option value="ar">Arabe</option>
                                            <option value="en">Anglais</option>
                                            <option value="fr">Français</option>
                                            <option value="autre">Autre</option>
                                        </select>
                                    </div>
                                    <div class="input-group w-75 mt-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                Département
                                            </span>
                                        </div>
                                        <select class="custom-select" id="input_search_av_domain">
                                            <option value=""></option>
                                            {% for categorie in categories %}
                                                <optgroup label="{{ categorie.nom }}">
                                                    {% for souscategorie in categorie.souscategories %}
                                                        <option value="{{ souscategorie.id }}">
                                                            {{ souscategorie.nom }}
                                                        </option>
                                                    {% endfor %}
                                                </optgroup>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="input-group mt-3" style="width:30%">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                Année de publication
                                            </span>
                                        </div>
                                        <input class="form-control" id="input_search_av_annee" maxlength="4" pattern="[0-9]{4}" type="text" value="2019"/>
                                    </div>
                                    <small>(*)enter année</small>
                                    <div class="mt-3">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="mr-2" data-feather="search"></i>
                                            Recherche
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- search result div -->
                <div class="col-sm-12 mt-4">
                    <div class="mx-4">
                        <div class="py-5 card card-body rounded-0 shadow-sm d-none" id="search_result"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
