<footer class="bg-dark text-white">
    <div class="container py-4">
        <div class="row">
            <div class="col-6">
                <h5>A propos de nous</h5>
                <br>
                <p class="text-white-50">
                    Ce site a été créer pour vous Partagez vos documents avec tous les étudiants qui visistent le site. Ici vous pouvez déposer vos exposés, PFE (projets de fin d'études), mémoires
                </p>
            </div>
            <div class="col-3 offset-3">
                <h5>Liens</h5>
                <ul class="list-unstyled">
                    <li class="py-1"><a href="{{ path_for('home') }}" class="text-white">Home</a></li>
                    <li class="py-1"><a href="{{ path_for('a-propos') }}" class="text-white">A propos</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="background:rgba(255,255,255,.2);">
        <div class="container py-2">
            <p class="mb-0">
                Copyright 2019 - Mon PFE
            </p>
        </div>
    </div>
</footer>
