<footer class="bg-dark text-white px-5">
    <div class="container py-4">
        <div class="d-flex d-flex justify-content-between">
            <div class="pt-1">
                <img class="" src="/public/img/logo-white.svg" alt="logo" height="32">
                <h4 class="ml-3 d-inline font-weight-bold">My pfe</h4>
                <p class="d-inline lead"> - Universite de bechar</p>
            </div>
        </div>
    </div>
    <div class="container px-0 py-4 d-flex justify-content-between">
        <p class="d-inline mb-0">monpfe.utmb.dz © Tous Droits Résérvés </p>
    </div>
</footer>