{% extends "layout.html.twig" %}
{% block titre %}
    Page Introuvable
{% endblock %}
{% block contenu %}
    <div class="container text-center mt-5">
        <img class="img-fluid mb-5" src="/public/img/404.svg" alt="404 illustration" width="512px">
        <h3><strong>Page Introuvable !</strong></h3>
        <a href="{{ path_for('home') }}" class="">revient au page accueille</a>
    </div>
{% endblock %}