{% extends "layout.html.twig" %}
{% block titre %}
    Page Introuvable
{% endblock %}
{% block contenu %}
    <div class="container text-center my-5 pb-80">
        <img class="img-fluid pt-80 mt-5" src="/public/img/404.svg" alt="404 illustration" width="512px">
        <h3 class="display-4 color-pr mt-2"><strong>Page Introuvable !</strong></h3>
        <a href="{{ path_for('home') }}" class="">revient au page accueille</a>
    </div>
{% endblock %}