<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/aos.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/public/js/icon-feather.js"></script>
    {% block script %}
        {# def de block de script javascript #}
    {% endblock %}
    <title>
        {% block titre %}
            {#  def de block de titre de page #}
        {% endblock %}
    </title>
</head>
<body>
    {% include '/partials/navigation.twig' %}
    {% block contenu %}
        {#  def de block de contenu de page #}
    {% endblock %}
    {% include '/partials/footer.twig' %}
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/public/js/aos.js"></script>
    <script src="/public/js/main.js"></script>
    <script>
        feather.replace()
    </script>
</body>
</html>