<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <link href="/public/img/logo.png" rel="shortcut icon" type="image/png"/>
        <link href="/public/css/bootstrap.css" rel="stylesheet">
        <link href="/public/css/aos.css" rel="stylesheet">
        <link href="/public/css/all.min.css" rel="stylesheet">
        <link href="/public/css/style.css" rel="stylesheet">
        <link href="/public/css/fine-uploader-new.css" rel="stylesheet">
        <script src="/public/js/icon-feather.js"></script>
        {% block script %}
            {# def de block de script javascript #}
        {% endblock %}
        <title>
            {% block titre %}
                {#  def de block de titre de page #}
            {% endblock %}
        </title>
    </head>
    <body class="bg">
        {% include '/partials/navigation.twig' %}
        {% block contenu %}
            {#  def de block de contenu de page #}
        {% endblock %}
        {% include '/partials/footer.twig' %}
        <script src="/public/js/jquery-3.3.1.min.js"></script>
        <script src="/public/js/popper.min.js"></script>
        <script src="/public/js/bootstrap.js"></script>
        <script src="/public/js/aos.js"></script>
        <script src="/public/js/main.js"></script>
        <script src="/public/js/pdfobject.min.js"></script>
        <script src="/public/js/jquery.fine-uploader.js"></script>
        {% block scriptBody %}{% endblock %}
        <script>
            feather.replace()
        </script>
    </body>
</html>
